@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gothamRounded";
  src: url("./assets/fonts/Gotham-Rounded-Light.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "gothamRounded";
  src: url("./assets/fonts/Gotham-Rounded-Medium.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "gothamRounded";
  src: url("./assets/fonts/Gotham-Rounded-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "cycloneLayers";
  src: url("./assets/fonts/Gotham-Rounded-Bold.woff") format("woff");
}

* {
  font-family: "gothamRounded", sans-serif;
}

@layer base {
  button.bg-c3 {
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  }
}

@layer utilities {
  .btn-transparent {
    @apply bg-transparent hover:bg-transparent;
  }
}
